services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: crawler
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./db/migrations:/docker-entrypoint-initdb.d 
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      retries: 10
      timeout: 2s


  crawler:
    build: .
    depends_on:
      db:
        condition: service_healthy
    environment:
      STORAGE_DSN: "postgres://postgres:postgres@db:5432/crawler?sslmode=disable"
      CRAWL_TTL: "48h"
    restart: unless-stopped

  cpp_app:
    build: ./tokenizer
    ports:
      - "8081:8080"
    environment:
      STORAGE_DSN: "postgres://postgres:postgres@db:5432/crawler?sslmode=disable"
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

volumes:
  db-data:
